:root {
  --background: #ffffff;
  --foreground: #171717;
}

a {
  text-decoration: none !important; /* not best pracitce to force, but here it is enough and by doc "don't worry too much about styling" */
}
